/* Définir les styles du header et du footer */
body{
    text-align: center;
}

header, footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Définir les styles de la barre de navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: center;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

/* Définir les styles du contenu */
#contenu {
    padding: 20px;
}
